# Dependencies
node_modules

# Generated
dist
.nuxt
.output
coverage

# Yarn Berry
.yarn
.pnp.*

# Lock files
yarn.lock
package-lock.json

# Build artifacts
*.min.js
*.min.css

# Proto files (use proto formatter)
*.proto
